@import '../app.scss';

#content-about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-border {
    border-style: solid;
    border-radius: 300px;
    margin-bottom: 1vh;
    border-color: $color-secondary !important;
    width: 186px; // 186px for border
    display: inline-block;
    text-align: center;
    box-shadow:0 0 30px $color-secondary;
}

img {
    // filter: grayscale(50%) hue-rotate(190deg) brightness(1.5); // Light Mode
    display: block;
    border-radius: 125px;
    border-width: 0px;
    transition: 500ms ease;
    filter: grayscale(50%) hue-rotate(190deg) brightness(0.4);
    animation: breathing 5s forwards;
    @keyframes breathing {
        from {
            filter: grayscale(50%) hue-rotate(190deg) brightness(0.3);
        } 
        to {
            filter: grayscale(50%) hue-rotate(190deg) brightness(1.3);
        }
    }
}

.text-icon {
    color: $color-inactivate;
    transition: 0.5s;
    font-size: 23px;
    margin-left: 5px;
    margin-right: 5px;
    &:hover {
        color: $color-secondary;
    }
}

.animated-left-shift {
    animation: left-shift 1s forwards !important;
    @keyframes left-shift {
        from {
            transform: translateX(0vh);
        }
        to {
            transform: translateX(-40vh);
        }
    }
}

.animated-left-return {
    animation: left-return 1s forwards;
    @keyframes left-return {
        from {
            transform: translateX(-40vh);
        }
        to {
            transform: translateX(0vh);
        }
    }
}

#just-to-flex, #summary-about, #more-about {
    flex: 1;
}

#summary-about {
    z-index: 100;
}

.hidden {
    opacity: 0;
    z-index: 0;
    text-align: left;
}

.animated-right-shift {
    animation: right-shift 1s forwards !important;
    @keyframes right-shift {
        from {
            z-index: 0;
            opacity: 0;
            transform: translateX(-30vh);
        }
        to {
            z-index: 101;
            opacity: 1;
            transform: translateX(-10vh);
        }
    }
}

.animated-right-return {
    animation: right-return 1s forwards;
    @keyframes right-return {
        from {
            z-index: 101;
            opacity: 1;
            transform: translateX(-10vh);
        }
        100% {
            z-index: 0;
            opacity: 0;
            transform: translateX(-30vh);
        }
    }
}

@for $i from 1 through 4 {
    #aaa {
        z-index: 100;
        *:nth-child(#{$i}){
            animation-delay: $i * 0.3s - 0.3s !important;
            z-index: 100 !important;
        }
    }
  }