@import "../app.scss";

#honors-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10vh;
    // padding-left: 12vw;
    justify-content: center;
    &.project {
        row-gap: 50px;
    }
}

h4 {
    margin-bottom: 100px !important;
}

.honor_item {
    text-decoration: none;
    color: $color-secondary;
    padding-top: 3em;
    width: 310px;
    min-height: 300px;
    border: solid 1px;
    border-radius: 0px;
    transition: 500ms;
    &:hover {
        color: $color-secondary;
        box-shadow: 0 0 20px $color-secondary;
    }
    &.project {
        min-height: 1px;

        h4 {
            margin-bottom: 0 !important;
        }

        h6 {
            margin-left: 10px;
            margin-right: 10px;
        }
        
    }
}


@for $i from 1 through 6 {
    .container-1 {
        .honor_item:nth-child(#{$i}){
            animation-delay: $i * 0.3s - 0.3s !important;
        }
    }
}