@import "../node_modules/bootstrap/scss/bootstrap";

$color-primary: black;
$color-secondary: rgb(53, 139, 196);
$color-inactivate: rgba(255, 255, 255, 0.5);

html {
    scroll-behavior: smooth;
}

#top {
    background-color: $color-primary; //#3c3c3b;
    color: $color-secondary;
    font-family: 'Comfortaa', cursive;
}

.navbar {
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    padding-left: 3vh;
    padding-right: 3vh;
    width: 100vw;
    background-color: $color-primary !important; //#30302f !important;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: $color-primary;
}

.home {
    text-decoration: none !important;
    font-size: larger;
    font-weight: 100;
    color: $color-secondary;
    text-shadow: 0 0 3px $color-secondary !important;
    &:hover {
        color: $color-secondary;
    }
}

.nav-link {
    color: $color-inactivate;
    transition: 500ms;
    &:hover, &:active {
        color: $color-secondary;
        text-shadow: 0 0 5px $color-secondary !important;
    }
}

.current > .nav-link {
    color: $color-secondary;
    text-shadow: 0 0 5px $color-secondary !important;
}

.page-section {
    padding-top: 20vh;
    min-height: 100vh;
    text-align: center;
}

.btn {
    // $btn-color: black; //rgba(121, 116, 116, 0.562);
    background-color: $color-primary;
    border-radius: 25px;
    border-color: $color-secondary;
    color: $color-secondary;
    transition: 0.4s;

    &:hover {
        background-color: $color-secondary !important; 
        // border-color:$color-primary !important;
        // boder-color: $color-secondary;
        color: $color-primary !important;
        box-shadow: 0 0 30px $color-secondary !important; 
    }

    &:active {
        color: $color-secondary;
    }

    &:focus {
        background-color: $color-primary;
        border-color: $color-secondary;
        color: $color-secondary;
        box-shadow: none;
    }
}

.animated-fadeInUp {
    animation: fadeInUp;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}