@import "../node_modules/bootstrap/scss/bootstrap";

$color-primary: black;
$color-secondary: rgb(53, 139, 196);
$color-inactivate: rgba(255, 255, 255, 0.5);

html {
    scroll-behavior: smooth;
}

.img-border {
    border-style: solid;
    border-radius: 300px;
    margin-bottom: 1vh;
    width: 186px;
    display: inline-block;
    text-align: center;
}

img {
    display: block;
    border-radius: 125px;
    border-width: 0px;
    transition: 500ms ease;
    filter: grayscale(0.8);
    border-color: $color-secondary !important;
    &:hover {
        filter: grayscale(0.4);
    }
}

.text-icon {
    color: $color-inactivate;
    transition: 0.5s;
    font-size: 23px;
    margin-left: 5px;
    margin-right: 5px;
    &:hover {
        color: $color-secondary;
    }
}

#top {
    background-color: $color-primary; //#3c3c3b;
    color: $color-secondary;
    font-family: 'Comfortaa', cursive;
}

.navbar {
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    padding-left: 3vh;
    padding-right: 3vh;
    width: 100vw;
    background-color: $color-primary !important; //#30302f !important;
    border-bottom: 1px;
    border-bottom-style: groove;
    border-color: $color-primary;
}

.name {
    text-decoration: none !important;
    font-size: larger;
    font-weight: 100;
    color: $color-secondary;
    &:hover {
        color: $color-secondary;
    }
}

.nav-link {
    color: $color-inactivate;
    transition: 500ms;
    &:hover, &:active {
        color: $color-secondary;
    }
}

.current > .nav-link {
    color: $color-secondary;
}

.section {
    padding-top: 31vh;
    min-height: 100vh;
    text-align: center;
}

.btn {
    // $btn-color: black; //rgba(121, 116, 116, 0.562);
    background-color: $color-primary;
    border-radius: 25px;
    border-color: $color-secondary;
    color: $color-secondary;
    transition: 0.6s;

    &:hover, &active {
        background-color: $color-secondary !important; 
        border-color:$color-primary !important;
        color: $color-primary;
    }

    &:focus, &:active {
    box-shadow:none !important;
    outline:0px !important;
    }

    &:focus {
        background-color: $color-primary;
        border-color: $color-secondary;
    }
}

.animated-fadeInUp {
    animation: fadeInUp;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}